* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

input[type="search"]::placeholder {
  color: black;
}

input[type="checkbox"]:checked {
  background-color: black;
}

/* 
.slick-prev{
  font-size: 10px;
} */

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: black !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img:hover {
  cursor: pointer;
}

.slick-prev,
.slick-next {
  width: 10px;
  height: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 100px;
  color: black !important;
}

.slick-arrow {
  width: 10px;
}

.shadow {
  box-shadow: 0 0 20px rgba(239, 176, 33, 0.5);
  /* Use the rgba() color corresponding to bg-orange-300 */
}

@keyframes draw {
  0% {
    stroke-dasharray: 0, 24;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 24, 0;
    stroke-dashoffset: 0;
  }
}

.tick {
  width: 50px;
  height: 50px;
  display: inline-block;
  stroke-width: 2;
  stroke: #db7d12;
  /* Adjust color as needed */
  fill: none;
  margin-top: 10px;
  animation: draw 1s ease-in-out forwards;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background-color: #df6a35;
  animation: spin 1s linear infinite;
}