* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

input[type="search"]::placeholder {
    color: black !important;
    font-weight: 400;
}

input[type="checkbox"]:checked {
    accent-color: black !important;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(169, 168, 168);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(169, 168, 168);
}
.overlay{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    background-color: black;
    opacity: 0.2;
    border-radius: 12px;
}