* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
input[type="search"]::placeholder{
    color:black;
}

.search-active {
    background-color: white;
    height: 40vh;
  }
  
  .search-background {
    background-color: white;
    /* Other styling as needed */
  }
  
  /* Adjust width transition for the search bar input field */
  input[type="search"] {
    width: 0; /* Initial width */
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .search-active input[type="search"] {
    width: 30em; /* Expanded width */
  }